body{
    height: 100%;
}
.container{
    background: #fff;
    padding:0 30px;
    /*box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.4);*/
    box-shadow: 0 0 1em rgba(68,105,213,0.4);
    -webkit-box-shadow: 0 0 1em rgba(68,105,213,0.4);
    -moz-box-shadow: 0 0 1em rgba(68,105,213,0.4);
}
.logo_princ{
    top: 10px;
}
.menu{
    top:20px;

}

.lista-menu {
    color: #337ab7;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;

}

.lista-menu:hover{
    color: #ffffff;
    background-color: #005983;
    font-weight: bold;
}

.redes{
    list-style: none;
    top: 15px;
}

.pie-pag{
    background-color: lightslategrey;
    margin:0 -30px;
    padding: 36px 30px 0 30px;
}

.lista_logos li{
    list-style: none;
}

.texto{
    text-align: justify;
}

.titulo_footer{
    font-weight: bold;
}

.correo {
    text-decoration: none;
    color: inherit;
}

.correo:hover{
    color: #ffffff;
    text-decoration: solid;
}
/*Agregar css para los sub menu*/